/* 默认样式 */
.app-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .app-container {
      flex-direction: row; /* 横向布局 */
      justify-content: space-around;
      align-items: center; /* 确保子元素在中间对齐 */
  }
}