.header_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: center;
}

.back_button {
    flex: 0;
    font: bold 200% Consolas, Monaco, monospace;
}

h1 {
    flex: 1;
    text-align: center;
    font: bold 300% Consolas, Monaco, monospace;
    margin-bottom: 0.5em;    
    color: #ffffff;
}

.fade-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 0.8s;
}

.fade-out.active {
    opacity: 1;
    z-index: 2;
}