body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-size: cover;
}
main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;

}
.levels-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}

.level-card {
    flex: 0 0 calc(20% - 2em);
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    border-right: 0;
    border-bottom: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    background-color: #424769;
    transition: transform .2s;
}

.level-card:hover {
    transform: scale(1.05);
}

.level-card h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #F6B17A;
}

.level-card p {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #F6B17A;
}

.level-card button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #F6B17A;
    background-color: #7077A1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.level-card button:hover {
    background-color: #7077A1;
}

.level-card img {
    height: 150px;
    width: auto;
    border-radius: 5px;
    object-fit: cover;
}


@media (max-width: 600px) {
    .level-card img {
        display: none;
    }
   
}

@media (min-width: 601px) and (max-width: 1200px) {
    .level-card img {
        display: none;
    }
}
