/* .settings-button {
    position: absolute;
    top: 0;
    right: 0;
}

.settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.settings-modal-content {
    position: relative;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
} */