.Setting_btn{
    position: relative;
    top: -5%;
    left: 95%;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
}

.Setting_btn img{
    margin: 0;
    width: 100%;
    height: 100%;
} 
.Setting_btn:hover{
    border:none;
    cursor: grab;
    background: transparent;
}

.modal-90w{
    max-width: 90vw;    
    height: 90vh;   
    position: relative;
    top: 2.5%;
}
.modal-header {
    padding: 40px;
    color: white;
    border:none;
    display: flex;
    flex-direction: row;

} 
.modal_title{
    display: flex;
    font-size: large;
    font:300% Consolas, Monaco, monospace;
}
.modal_btn{
    margin: 10px;
    font: 200% Consolas, Monaco, monospace; 
    color:white;
    cursor: pointer;
    background-color:transparent;
    border: none;
    justify-content: center;
}
.modal_btn:hover{
    font: 200% Consolas, Monaco, monospace;
    color:white;
    background-color:transparent;
    border-bottom: #af1b1b 10px solid;
    transition: text-shadow 0.3s ease;

} 
.modal-content {
    color: white;
    height: 100%;
    width: 100%;
    background-color: #812323;
    align-items: center;  
    border: 1px solid #812323;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-body{
    font: 200% Consolas, Monaco, monospace;
    display: flex;
    align-items: center;
}
.modal-footer{
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    position: relative;
    bottom: 10%;
}

.fade-out {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: opacity 0.8s;
}

.fade-out.active {
    opacity: 1;
    z-index: 2;
}
