.container {
    border: 1px solid black;
    height: auto;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
}

.item {
    position: absolute;
    width: 50px;
    height: 50px;
}

.goal {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: red;
    z-index: 1;
}

.target {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: green;
    z-index: 1;
}

.rules {
    position: relative;
    top: 500px;
    left: 200px;
    width: 200px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.modal-header {
    font: 300% Consolas, Monaco, monospace;
    display: flex;
    flex-shrink: 0;
    padding: 15px;
    flex-direction: row;
    color: white;
    justify-content: space-between;
}


.btn_close{
    position: absolute;
    right: 0;
    margin-top: -5px;
    padding: 0;
    font: 100% Consolas, Monaco, monospace;
    color:white;
    cursor: pointer;
    width: 100px;
    transition: text-shadow 0.3s ease;
    border: none;
    background-color:transparent;
    z-index: 1;
}

.btn_close:hover {
    font: 100% Consolas, Monaco, monospace;
    color:white;
    cursor: pointer;
    width: 100px;
    transition: text-shadow 0.3s ease;
    border: none;
    background-color:transparent;
    z-index: 1;
}
.modal_btn{
    margin: 10px;
    padding: 10px 20px;
    font: 200% Consolas, Monaco, monospace;
    color:white;
    cursor: pointer;
    width: 300px;
    transition: text-shadow 0.3s ease;
    border: none;
    /* border-radius: 8px; */
    background-color:transparent;
    z-index: 1;
}

.modal_btn:hover{
    margin: 10px;
    padding: 10px 20px;
    font: 200% Consolas, Monaco, monospace;
    color:white;
    cursor: pointer;
    width: 300px;
    transition: text-shadow 0.3s ease;
    border: none;
    /* border-radius: 8px; */
    background-color:transparent;
    z-index: 1;
}

.modal-content {
    color: white;
    align-items: center;
    background-color: #f49a9a;
    border: 1px solid #f49a9a;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 90%;
    z-index: 3;
    height:650px;
    margin-left: 5%;
    margin-top: -70px;
} 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }

