.container {
    border: 1px solid black;
    height: auto;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
}

.item {
    position: absolute;
    width: 50px;
    height: 50px;
}

.goal {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: red;
    z-index: 1;
}

.target {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: green;
    z-index: 1;
}

.win-message {
    color: red;
    position: absolute;
    top: 50px;
    left: 50px;
}

.rules {
    position: relative;
    top: 500px;
    left: 200px;
    width: 200px;
    padding-bottom: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

.modal-content {

} 
