.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.player{
    position: absolute;
    width: 50px;
    height: 50px;
}

.item {
    position: absolute;
    width: 50px;
    height: 50px;
}

.goal {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    border: 4px dotted red;
}

.target {
    position: absolute;
    width: 80px;
    height: 80px;
    border: 4px dotted yellow;
    z-index: 1;
}

/*  */
.popup_container{
    position: relative;
    top: 30%;
}
.popup_btn {
    width: 8%;
    font: 100% Consolas, Monaco, monospace;
} 
.popup_btn:hover{
    background: #812323;
    font: 100% Consolas, Monaco, monospace;
    border: none;
}


/*  */
.btn_close{
    position: absolute;
    right: 0;
    margin-top: -5px;
    padding: 0;
    font: 100% Consolas, Monaco, monospace;
    color:white;
    cursor: pointer;
    width: 100px;
    transition: text-shadow 0.3s ease;
    border: none;
    background-color:transparent;
    z-index: 1;
}

.btn_close{
    position: absolute;
    border: none;
    background-color:transparent;
    z-index: 1;
} 
/* modal */
.modal-90w{
    max-width: 90vw;    
    height: 90vh;   
    position: relative;
    top: 2.5%;
}
.modal-header {
    padding: 40px;
    color: white;
    border:none;
    display: flex;
    flex-direction: row;

} 
.modal_title{
    display: flex;
    font-size: large;
    font:300% Consolas, Monaco, monospace;
}
.modal_btn{
    margin: 10px;
    font: 200% Consolas, Monaco, monospace; 
    color:white;
    cursor: pointer;
    background-color:transparent;
    border: none;
    justify-content: center;
}
.modal_btn:hover{
    font: 200% Consolas, Monaco, monospace;
    color:white;
    background-color:transparent;
    border-bottom: #af1b1b 10px solid;
    transition: text-shadow 0.3s ease;

} 
.modal-content {
    color: white;
    height: 100%;
    width: 100%;
    background-color: #812323;
    align-items: center;  
    border: 1px solid #812323;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-body{
    font: 200% Consolas, Monaco, monospace;
    display: flex;
    align-items: center;
}
.modal-footer{
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    position: relative;
    bottom: 10%;
}

.joystick_style {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    background: #ffffff;
    left: 50px;
    bottom: 50px;
}

@media (max-width: 1400px) {
    .joystick_style {
        display: block;
    }
    
}


